h1 {

font-weight: 400;
color:#0d2c40;
font-size: 45px;
margin:0;

}
h2{
color:#F15B31;
font-weight: 600;
font-size: 18px;
}
.matchinstruct{
	color:#0D2c40;
	font-weight: 600;
font-size: 20px;
}
p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}
body {
font-family: "Raleway", sans-serif;
text-align: center;
letter-spacing: 1px;
margin:0;
}
a{
	text-decoration: none;
	margin:0 20px;
	color:white;
}
header{
	background:#F15b31;
	color:#ffffff;
	padding:30px 20px;
}
nav{
	background:#00a6b3;
	color:#ffffff;
	padding: 20px 0;
}
main{
	width:850px;
	margin: 35px auto;
}
img{
	margin:40px 8px;
}
footer{
	text-transform: uppercase;
	padding:0 20px;
	background: #0d2c40;
	color:#ffffff;
	font-size:14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	float:left;
}
.message{
	float:right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	}
	.name{
		color:#f15b31;
		font-weight: 700;
	}
	nav:hover{
		border-bottom: 2px solid transparent;
	}
	a:hover{
		border-color: white;
	}